/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

header img {
  max-width: 100%;
}

/* Container for flexboxes */
.main-section {
  display: flex;
  flex: 1;
}

/* Style the navigation menu */
nav {
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 8px;
}

nav ul li p {
  font-weight: bold;
  margin: 12px 0 4px 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Style the content */
article {
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

article img {
  max-width: 100%;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  .main-section {
    flex-direction: column;
  }
}
